.scroller {
  	position: absolute;
  	width: 100%;
  	overflow:scroll;
 	top: 0;
  	bottom: 0; 
}

#marginFooter{
	margin-bottom: 40px;
}

.tabs { 
	top: 0 !important; 
}

#marginHeader {
	margin-top:75px;
}

.badge {
	background-color: #41ABE0 !important;
}

.loginlink {
	color:gray;
}