
    <div class="bar bar-header bar-calm" ng-controller="modalCtrl">
        <h1 class="title">Kanaler</h1>    
        <button class="button button-icon icon ion-navicon" ng-click="showModal('toolBox')"></button>
    </div>

<ion-content>
<div class="has-header" id="marginHeader"> 
        <div class="list list-inset">
            <div class="item">
                <button class="button button-calm" ng-click="showChannelInput()">Skapa #kanal </button>
                <div ng-show="showChannelInputBool">
                    <div class="item item-input-inset">
                        <label class="item-input-wrapper">
                            <input ng-model="channel.name" type="text" placeholder="Skriv kanalnamnet här">
                            </input>
                        </label>
                        <button ng-click="createChannel()"class="button button-balanced button-small">Spara</button>
                    </div>
                </div>
            </div>  
            <!--Search channel-->
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="Sök kanal" ng-change="channelSearchActive()"ng-model="inputObj.input" />
                    
                </label>
               
            </div>
             
                        <div ng-show="inputObj.showChannelSearchList">

                        <div class="item" ng-repeat="channel in channelList |filter:inputObj.input" >
                            <div class="row"> 
                                <div class="col col-15">
                                    <div class="item-icon-left">
                                        <i class="icon ion-chatbubble-working"></i>
                                    </div>
                                </div>
                                <div class="col col-50"  ng-click="joinChannel(channel.$id, true)">   
                                    <p>{{channel.channelName}} </p> 
                                </div> 
                                 <div class="col col-15">
                                     <span class="badge badge-assertive">{{channel.userCounter}}</span>
                                </div>  
                            </div>   
                        </div>       
                     </div>
                        
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="Sök användare" ng-change="userSearchActive()" ng-model="inputObj.userInput"/>
                </label>
            </div>
            <div class="list"> 
                <div class="item">

                    <div class="item" ng-repeat="user in allUsers |filter:inputObj.userInput" ng-show="inputObj.showUserSearchList">

                        <div class="row" ng-click="goToUser(user.$id)"> 
                            <div class="col col-15">
                                <div class="item-icon-left">
                                    <i class="icon ion-ios-person-outline"></i>
                                </div>
                            </div>
                            <div class="col col-50">   
                                <p>{{user.displayName}} </p> 
                            </div> 
                             <div class="col col-15">
                                 
                                 <span class="badge badge-assertive">{{userStatus(user.online)}}</span>
                            </div>  
                        </div>   
                    </div> 
                </div>          
            </div>    
            <div class="item" >
                <div ng-click="listChannels()">
                    <div class="row">
                        <div class="col col-50">
                             <button class="button button-small button-calm">Aktiva #kanaler</button>
                        </div>
                        <div class="col col-50">
                            <p style="color:silver">antal användare</p>
                        </div>
                    </div>    
                </div>
                <div ng-show="showChannelList">
                    <div class="list">  
                        <div class="item" ng-repeat="channel in channelList | orderBy:'-userCounter'">
                            <div class="row" ng-click="joinChannel(channel.$id, true)"> 
                                <div class="col col-15">
                                    <div class="item-icon-left">
                                        <i class="icon ion-chatbubble-working"></i>
                                    </div>
                                </div>
                                <div class="col col-50">   
                                     <p>{{channel.channelName}} </p> 
                                </div> 
                                <div class="col col-15">
                                    <span class="badge badge-assertive">{{channel.userCounter}}</span>
                                </div>  
                            </div>       
                        </div>                        
                    </div>   
                </div>       
            </div>
            <div class="item" >
                <div ng-click="listUsers()">
                    <div class="row">
                        <div class="col col-50">
                             <button class="button button-small button-calm">Alla användare</button>
                        </div>
                        <div class="col col-50">
                            <p style="color:silver">Status</p>
                        </div>
                    </div>    
                </div>
                <div ng-show="showUserList">
                    <div class="list"> 
                        <div class="item" ng-repeat="user in allUsers">
                            <div class="row"> 
                                <div class="col col-15">
                                    <div class="item-icon-left">
                                        <i class="icon ion-ios-person-outline"></i>
                                    </div>
                                </div>
                                <div class="col col-50" ng-click="goToUser(user.$id)">   
                                     <p>{{user.displayName}} </p> 
                                </div> 
                                <div class="col col-15">
                                    <span class="badge badge-assertive">{{userStatus(user.online)}}</span>
                                </div>  
                            </div>       
                        </div>                        
                    </div>   
                </div>       
            </div>
        </div>


</div>




</ion-content>
