<ion-pane>
    <div class="bar bar-header bar-calm">
        <img class='title-image' src='img/chattyLogowhite50.png' width="57" height="40"/>
        <h1 class="title">Skapa nytt lösenord</h1>    
    </div>
    <ion-content class="has-header">
        <div class="list list-inset">
            Vänligen fyll i fälterna för att skapa ett nytt lösenord.          
        </div>
        <div class="list list-inset">
            <form name="changePasswordform" ng-submit="submitForm(changePasswordform.$valid)" novalidate method="post">
                <!-- EMail -->
                <label class="item item-input item-stacked-label">
                    <span class="input-label">E-postadress</span>
                    <input id="email" name="email" type="email" ng-model="user.email" placeholder="namn@example.com" required></input>
                    <div class="button button-clear button-assertive" ng-cloak ng-show="changePasswordform.$submitted && changePasswordform.email.$error.required">Du måste ange din e-postadress</div>
                </label>
                 <!-- Temporary password -->
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Tillfälligt lösenord</span>
                    <input id="tempPassword" name="tempPassword" type="password" ng-model="user.tempPassword" placeholder="Ange ditt tillfälligt lösenord" required></input>
                    <div class="button button-clear button-assertive" ng-cloak ng-show="changePasswordform.$submitted && changePasswordform.tempPassword.$error.required">Du måste ange ditt tillfälliga lösenord</div>
                </label>
                <!-- New password -->
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Nytt lösenord</span>
                    <input id="password" name="password" type="password" ng-model="user.password" placeholder="Lösenord (minst 8 tecken)" required ng-minlength="8"></input>
                    <div class="button button-clear button-assertive" ng-cloak ng-show="changePasswordform.$submitted && changePasswordform.password.$error.required">Du måste ange ett nytt lösenord</div>
                    <div class="button button-clear button-assertive" ng-cloak ng-show="changePasswordform.$submitted && changePasswordform.password.$error.minlength">Lösenordet måste innehålla minst 8 karaktärer</div>
                </label>
                <!-- Verify password-->
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Ange lösenordet igen</span>
                    <input id="passwordReEnter" name="passwordReEnter" class="form-control" type="password" ng-model="user.passwordReEnter" placeholder="Lösenord (minst 8 tecken)" required ng-minlength="8" ng-change="checkPasswords()" ></input>
                    <div class="button button-clear button-assertive" ng-cloak ng-show="changePasswordform.$submitted && changePasswordform.passwordReEnter.$error.required">Du måste ange lösenordet igen</div>
                    <div class="button button-clear button-assertive" ng-cloak ng-show="changePasswordform.$submitted && changePasswordform.passwordReEnter.$error.minlength">Lösenordet måste innehålla minst 8 karaktärer</div>
                    <div class="button button-clear button-assertive" ng-cloak ng-show="changePasswordform.$submitted && passwordsNotEqual">Lösenord måste vara identiska</div>
                </label>
                <!-- form controls-->
                <div class="item">
                    <button type="submit" class="button  button-block button-calm" ng-disabled="changePasswordform.$submitted && changePasswordform.$invalid">Spara nytt lösenord</button>
                    <div class="button button-clear button-assertive" ng-cloak ng-show="showError">
                        {{resetPasswordError}}
                    </div>
                </div>
            </<form>
        </div>
    </ion-content>
</ion-pane>