
<ion-pane>
     <div class="bar bar-header bar-calm" ng-controller="modalCtrl">
        <button class="button button-icon icon ion-chevron-left" ng-click="getBack()"></button>
        <h1 class="title">{{channel.channelName}}</h1>
        <button class="button button-icon icon ion-navicon" ng-click="showModal('modal3')"></button>    
    </div>
   
    <ion-content class="has-header has-footer">
        <div class="list"> 
            <div class="item">
                <button class="button button-outline button-calm" ng-click="userList()">
                    <i class="icon ion-ios-people-outline larger"></i>
                </button>
            </div>                      <!-- hur många meddelanden som visas -->
              <div class="item" ng-repeat="message in messages | limitTo: -10"  ng-init="scrollToBottom()">
                <div class="row">
                    <div class="col col-50">
                         <p>{{message.alias}}</p>
                    </div>
                    <div class="col col-50">
                         <p>{{message.date}}</p>
                    </div>
                </div>
                <div class="row item-text-wrap">        
                    <p>{{message.message}}</p>                                      
                </div>
            </div>   
        </div>
    </ion-content>


    <ion-footer-bar class="bar-calm item-input-inset">
        <label class="item-input-wrapper">
            <input type="text" placeholder="skriv text här" ng-model="inputMessage" ng-keyup="keyCodeCheck($event)"/>
        </label>
        <button class="button button-clear" ng-click="sendButton()">Skicka</button> 
    </ion-footer-bar>
</ion-pane>

    



        



