<!--<ion-pane> -->
   <div class="bar bar-header bar-calm" ng-controller="modalCtrl">
        <button class="button button-icon icon ion-chevron-left" ng-click="getBack()"></button>
        <h1 class="title">Mina Kontakter</h1>
        <button class="button button-icon icon ion-navicon" ng-click="showModal('modal3')"></button>    
    </div>   
          
 <ion-content class="has-header">
 <!--   <div ng-show="emtyList">
      <p style="color:silver">Listan är tom</p>
    </div>-->
    
    <div class="list"> 
          <div class="item" ng-repeat="contact in finalContactList track by contact.$id">
              <div class="row"> 

                  <div class="col col-15">
                      <div class="item-icon-left">
                          <i class="icon ion-ios-person-outline"></i>
                      </div>
                  </div>
                  <div class="col col-50" ng-click="showUserInfo(contact.$id)"> 
                        <p style="font-size:12px; color:silver;">Info om/prata med:</p>  
                       <p>{{contact.displayName}}</p> 
                  </div> 
                  <div class="col col-15">
                      <span class="badge badge-assertive">{{userStatus(contact.online)}}</span>
                  </div>  
              </div>       
          </div>                        
      </div>  




<!--

    <div class="list">
        <div class="item" ng-repeat="contact in finalContactList track by contact.$id">
          <div class="row">
              <p><span style="color:silver">Info om/prata med: </span>{{contact.displayName}}</p>
           <button class="button button-balanced" ng-click="showUserInfo(contact.$id)">Info</button>
         </div>
        </div>
    </div> -->
<!--  </ion-content> -->
<!--
<ul class="list">
        <li class="item" ng-repeat="contact in finalContactList track by contact.$id">
         {{contact.displayName}}
         <button class="button button-balanced" ng-click="showUserInfo(contact.$id)">Info</button>
        </li>
</ul> -->
</ion-pane> 


<!--

-->

