<ion-pane>
    <div class="bar bar-header bar-calm">
        <img class='title-image' src='img/chattyLogowhite50.png' width="57" height="40"/>
        <h1 class="title">Lösenordsåterställning </h1>    
    </div>
    <ion-content class="has-header">
    	<div class="list list-inset">
    		Var snäll och ange ditt e-postaddress så vi kan skicka ett lösenordsåterställnings meddelande.
    	</div>        
        <div class="list list-inset">
            <form name="forgottenPasswordForm" ng-submit="submitForm(forgottenPasswordForm.$valid)" novalidate method="post">
            	<!-- EMail -->
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Din e-postadress</span>
                    <input id="email" name="email" type="email" ng-model="user.email" placeholder="namn@example.com" required autofocus />
                    <div class="button button-clear button-assertive" ng-show="forgottenPasswordForm.$submitted && forgottenPasswordForm.email.$error.required">Du måste ange din e-postadress</div>
                    <div class="button button-clear button-assertive" ng-cloak ng-show="forgottenPasswordForm.$submitted && forgottenPasswordForm.email.$error.email">Ange din e-postadress i formatet namn@example.com</div>
                </label>
            	<!-- form controls-->
                <div class="item">
                    <button type="submit" class="button  button-block button-calm" ng-disabled="forgottenPasswordForm.$submitted && forgottenPasswordForm.$invalid">Klar</button>
                    <div class="button button-clear button-assertive" ng-cloak ng-show="showError">
                        {{sendEmailError}}
                    </div>
                </div> 
            </form>
        </div>
    </ion-content>
</ion-pane>