
<ion-pane>
    <div class="bar bar-header bar-calm">
        <img class='title-image' src='img/chattyLogowhite50.png' width="57" height="40"/>
        <h1 class="title">Inloggning</h1>    
    </div>
    <ion-content class="has-header">        
        <div class="list list-inset">
            <form name="loginForm" ng-submit="submitForm(loginForm.$valid)" novalidate method="post">
                <!-- EMail -->
                <label class="item item-input item-stacked-label">
                    <span class="input-label">E-postadress</span>
                    <input id="email" name="email" type="email" ng-model="user.email" placeholder="namn@example.com" required autofocus />
                    <div class="button button-clear button-assertive" ng-show="loginForm.$submitted && loginForm.email.$error.required">Du måste ange en e-postadress</div>
                    <div class="button button-clear button-assertive" ng-cloak ng-show="loginForm.$submitted && loginForm.email.$error.email">Ange din e-postadress i formatet namn@example.com</div>
                </label>
                <!-- Password -->
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Lösenord</span>
                    <input id="password" name="password" type="password" ng-model="user.password" placeholder="Lösenord" required />
                    <div class="button button-clear button-assertive" ng-cloak ng-show="loginForm.$submitted && loginForm.password.$error.required">Du måste ange Chatty#-kontots lösenord</div>
                </label>
                <!-- form controls-->
                <div class="item">
                    <button type="submit" class="button  button-block button-calm" ng-disabled="loginForm.$submitted && loginForm.$invalid">Logga in</button>
                    <div class="button button-clear button-assertive" ng-cloak ng-show="showError">
                        {{loginError}}
                    </div>
                </div>               
            </form>           
        </div>
        <div class="list list-inset">
            <p class="item"><a href='#newAccount' class="loginlink">Vill du skapa ett Chatty konto?</a></p>
            <p class="item"><a href="#forgottenPassword" class="loginlink">Har du glömt ditt lösenord?</a></p>
        </div>       
    </ion-content>
</ion-pane>
        
 
