<ion-pane>
    <div class="bar bar-header bar-calm">
        <img class='title-image' src='img/chattyLogowhite50.png' width="57" height="40"/>
        <h1 class="title">Skapa ett nytt konto</h1>    
    </div>
    <ion-content class="has-header">
        <div class="list list-inset">
            <form name="newAccountForm" ng-submit="submitForm(newAccountForm.$valid)" novalidate method="post">
                <!-- Name -->
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Användarnamn</span>
                    <input id="name" name="name" type="text" ng-model="user.displayName" placeholder="Namn som andra användare kan se" required autofocus></input>
                    <div class="button button-clear button-assertive" ng-cloak ng-show="newAccountForm.$submitted && newAccountForm.name.$error.required">Du måste ange ett namn</div>
                </label>
                <!-- EMail -->
                <label class="item item-input item-stacked-label">
                    <span class="input-label">E-postadress</span>
                    <input id="email" name="email" type="email" ng-model="user.email" placeholder="namn@example.com" required></input>
                    <div class="button button-clear button-assertive" ng-cloak ng-show="newAccountForm.$submitted && newAccountForm.email.$error.required">Du måste ange en e-postadress</div>
                </label>
                <!-- Password -->
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Lösenord</span>
                    <input id="password" name="password" type="password" ng-model="user.password" placeholder="Lösenord (minst 8 tecken)" required ng-minlength="8"></input>
                    <div class="button button-clear button-assertive" ng-cloak ng-show="newAccountForm.$submitted && newAccountForm.password.$error.required">Du måste ange ett lösenord</div>
                    <div class="button button-clear button-assertive" ng-cloak ng-show="newAccountForm.$submitted && newAccountForm.password.$error.minlength">Lösenordet måste innehålla minst 8 karaktärer</div>
                </label>
                <!-- Verify password-->
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Ange lösenordet igen</span>
                    <input id="passwordReEnter" name="passwordReEnter" class="form-control" type="password" ng-model="user.passwordReEnter" placeholder="Lösenord (minst 8 tecken)" required ng-minlength="8" ng-change="checkPasswords()" ></input>
                    <div class="button button-clear button-assertive" ng-cloak ng-show="newAccountForm.$submitted && newAccountForm.passwordReEnter.$error.required">Du måste ange lösenordet igen</div>
                    <div class="button button-clear button-assertive" ng-cloak ng-show="newAccountForm.$submitted && newAccountForm.passwordReEnter.$error.minlength">Lösenordet måste innehålla minst 8 karaktärer</div>
                    <div class="button button-clear button-assertive" ng-cloak ng-show="newAccountForm.$submitted && passwordsNotEqual">Lösenord måste vara identiska</div>
                </label>
                <!-- form controls-->
                <div class="item">
                    <button type="submit" class="button  button-block button-calm" ng-disabled="newAccountForm.$submitted && newAccountForm.$invalid">Skapa konto</button>
                    <div class="button button-clear button-assertive" ng-cloak ng-show="showError">
                        {{createUserError}}
                    </div>
                    <div class="button button-clear button-assertive" ng-cloak ng-show="showDisplayNameError">
                        {{sameDisplayNameError}}
                    </div>
                </div>
            </form>
        </div>
    </ion-content>
</ion-pane>