<div class="list">
    <div class="item" ng-repeat="chat in privateChats">
        <div class="row">
        	<div class="col col-20">
             	 <div class="item-icon-left">
                    <i class="icon ion-ios-person-outline"></i>
              	</div>   
            </div>
            <div class="col col-80" ng-click="privateChat($index)">
                 <p>någon person</p>
            </div>  
        </div>
    </div> 
    <p style="color:silver">slutet på listan</p>  
</div> 