
<ion-pane>
     <div class="bar bar-header bar-calm" ng-controller="modalCtrl">
        <button class="button button-icon icon ion-chevron-left" ng-click="getBack()" ></button>
        <h1 class="title">Privat Chatt</h1>
        <button class="button button-icon icon ion-navicon" ng-click="showModal('toolBox')"></button>    
    </div>
   
    <ion-content class="has-header has-footer">
        <div class="list"> 
            <div class="item" ng-repeat="message in messages | limitTo: -10" ng-init="scrollToBottom()">
                <div class="row">
                    <div class="col col-50">
                         <p>{{message.alias}}</p>
                    </div>
                    <div class="col col-50">
                         <p>{{message.date}}</p>
                    </div>
                </div>
                <div class="row item-text-wrap">        
                    <p>{{message.message}}</p>                                      
                </div>
            </div>   
        </div>
    </ion-content>


    <div class="bar bar-footer bar-calm item-input-inset">
        <label class="item-input-wrapper">
            <input type="text" placeholder="Skriv text här" ng-model="inputMessage" ng-keyup="keyCodeCheck($event)"/>
        </label>
        <button class="button button-clear" ng-click="sendButton()">Skicka</button> 
    </div>
</ion-pane>






