
<ion-pane>
     <div class="bar bar-header bar-calm" ng-controller="modalCtrl" >
        <button class="button button-icon icon ion-chevron-left" ng-click="getBack()" ></button>
        <h1 class="title">Private chat</h1>
        <button class="button button-icon icon ion-navicon" ng-click="showModal('toolBox')"></button>    
    </div>
   
    <ion-content class="has-header">
        <div class="list"> 
            <div class="item" ng-repeat="user in localChannelArray" ng-click="redirectToPrivateChannel(user.channelId)">
               {{user.info.displayName}}
            </div>   
        </div>
    </ion-content>
</ion-pane>






