<ion-pane> 
   <div class="bar bar-header bar-calm" ng-controller="modalCtrl">
        <button class="button button-icon icon ion-chevron-left" ng-click="getBack()"></button>
        <h1 class="title">aktiva användare</h1>
        <button class="button button-icon icon ion-navicon" ng-click="showModal('modal3')"></button>    
    </div>

<ion-content class="has-header">
  <div class="list">
      <div class="item" ng-repeat="user in users ">
          <div class="row">
          	<div class="col col-20">
               	 <div class="item-icon-left">
                      <i class="icon ion-ios-person-outline"></i>
                	</div>   
              </div>
              <div class="col col-80" ng-click="userInfo($index)">
                   <p>{{user.displayName}}</p>
              </div>  
          </div>
      </div> 
      <p style="color:silver">slutet på listan</p>  
  </div>
 </ion-content>  
</ion-pane>